spring:
  application:
    name: batch-flow
  flyway:
    enabled: true
    locations: classpath:db/migration/${spring.flyway.db}
    baseline-on-migrate: false
    baseline-version: 0
  profiles:
    active: local

---
spring:
  config:
    activate:
      on-profile: local
  datasource:
    driver-class-name: org.h2.Driver
    url: jdbc:h2:mem:localdb;MODE=Oracle;DATABASE_TO_LOWER=TRUE;DB_CLOSE_DELAY=-1;DB_CLOSE_ON_EXIT=FALSE
    username: sa
    password:
  h2:
    console:
      enabled: true
      path: /h2-console
  flyway:
    db: h2
