spring:
  application:
    name: batch-flow
  profiles:
    active: oracle

---
spring:
  config:
    activate:
      on-profile: h2
  datasource:
    driver-class-name: org.h2.Driver
    url: jdbc:h2:mem:localdb;MODE=Oracle;DATABASE_TO_LOWER=TRUE;DB_CLOSE_DELAY=-1;DB_CLOSE_ON_EXIT=FALSE
    username: sa
    password:
  jpa:
    open-in-view: false
    show-sql: true
    properties:
      hibernate:
        format_sql: true
        use_sql_comments: true
        default_batch_fetch_size: 100
    hibernate:
      ddl-auto: validate
    defer-datasource-initialization: false
  h2:
    console:
      enabled: true
      path: /h2-console
  flyway:
    enabled: true
    locations: classpath:db/migration/h2
    baseline-on-migrate: false
    baseline-version: 1
    baseline-description: baseline

seed:
  load:
    enabled: true

---
spring:
  config:
    activate:
      on-profile: oracle
  datasource:
    driver-class-name: oracle.jdbc.OracleDriver
    url: jdbc:oracle:thin:@//localhost:1521/XE
    username: BATCHFLOW
    password: oracle
  jpa:
    open-in-view: false
    show-sql: true
    properties:
      hibernate:
        format_sql: true
        use_sql_comments: true
        default_batch_fetch_size: 100
    hibernate:
      ddl-auto: validate
    defer-datasource-initialization: false
  flyway:
    enabled: true
    locations: classpath:db/migration/oracle
    baseline-on-migrate: false
    baseline-version: 1
    baseline-description: baseline

seed:
  load:
    enabled: false