spring:
  application:
    name: batch-flow
  flyway:
    enabled: true
    locations: classpath:db/migration/${spring.flyway.db}
    baseline-on-migrate: false
    baseline-version: 0
  profiles:
    active: local

---
spring:
  sql:
    init:
      mode: always
  config:
    activate:
      on-profile: local
  datasource:
    driver-class-name: org.h2.Driver
    url: jdbc:h2:mem:localdb;MODE=Oracle;DATABASE_TO_LOWER=TRUE;DB_CLOSE_DELAY=-1;DB_CLOSE_ON_EXIT=FALSE
    username: sa
    password:
  jpa:
    open-in-view: false
    show-sql: true
    properties:
      hibernate:
        format_sql: true
        use_sql_comments: true
        default_batch_fetch_size: 100
    hibernate:
      ddl-auto: validate
    defer-datasource-initialization: true
  h2:
    console:
      enabled: true
      path: /h2-console
  flyway:
    db: h2
    enabled: false
